.card-advantages {
  display: flex;
  align-items: center;
  column-gap: 100px;
  border-radius: 10px;
}

.card-advantages--reverse .card-advantages__content {
  margin: 172px auto auto 140px; 
}

.card-advantages--heavenly {
  background-color: #A8DCFF;
}

.card-advantages--purple {
  background-color: #8CA3FF;
}

.card-advantages__content {
  margin: auto 132px auto auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-advantages__heading {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}

.card-advantages__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.card-advantages__btn {
  margin: 32px 0 0 0;
  padding: 14px 32px;
}

.card-advantages--heavenly-p {
  background-color: #5E81FF;
}

.card-advantages__heading-p,
.card-advantages__description-p {
  color: #FFFFFF;
}

.card-advantages--grey {
  min-height: 640px;
  padding: 60px 60px 0 60px;
  flex-direction: column;
  background-color: #7F8499;
  color: #FFFFFF;
}

.card-advantages--grey .card-advantages__item {
  margin-bottom: 16px;
}

.card-advantages--grey .card-advantages__description {
  list-style-position: inside;
  padding: 0;
}

.card-advantages--blue {
  height: 100%;
  padding: 60px 60px 0 60px;
  flex-direction: column;
  background-color: #F4F6FA;
}

.card-advantages--grey .card-advantages__content,
.card-advantages--blue .card-advantages__content {
  margin: 0;
  padding: 0;
}