.placement__heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #1E222E;
    max-width: 520px;
    text-align: center;
    margin: 0 auto 40px;
}

.placement__wrapper {
    
    margin: 0 0 100px 0;
}

.placement__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    align-items: start;
    gap: 32px;
}

.placement__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.placement__item__image {
    border-radius: 16px;
    background-color: #F6F6F6;
    margin: 0 0 20px 0;
}

.placement__item__heading {
    margin: 0 0 8px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1E222E;
}

.placement__item__description {
    margin: 0;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #696E82;
}

.placement__item--lowercase .placement__item__heading {
    text-transform: none;
}
